<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/mchtr-styler.css">
</head>
<body>
<% include header.ejs %>
<div class="cockpit">
    <!--LISTA OBECNOŚCI-->
    <aside>
        <h3>Lista obecności</h3>
        <div class="pure-form">
            <input id="voter-search" type="text" class="pure-input-1" placeholder="Szukaj..."/>
        </div>
        <ol id="presence-list">
            <% for (var i = 0; i < voters.length; i++) { %>
            <li>
                <input id="checkbox-present-<%= voters[i].id %>" data-voter="<%= voters[i].id %>" class="pure-checkbox big" type="checkbox" name="present" value="<%= voters[i].id %>"/>
                <label for="checkbox-present-<%= voters[i].id %>"><%= voters[i].surname + ", " + voters[i].name %></label>
            </li>
            <% } %>
        </ol>
    </aside>
    <!--GŁOSOWANIA-->
    <section>
        <h3 id="available-votings">Głosowania nierozpoczęte</h3>
        <% for (var i=0; i<session.votings.length; i++) { %>
        <article class="voting">
            <div data-id="buttons-corner" class="right">
                <button type="button" class="pure-button">Edytuj</button>
            </div>
            <h4><%= session.votings[i].question %></h4>
            <% if (session.votings[i].type == 2) { %>
            <ol class="left">
                <% for (var j=0; j < session.votings[i].variants.length; j++) { %>
                <li><%= session.votings[i].variants[j].content %></li>
                <% } %>
            </ol>
            <% } else { %>
            <div class="tip">Głosowanie tak/nie</div>
            <% } %>
            <div class="right" data-id="buttons-finished" style="display: none">
                <button data-voting="<%= session.votings[i]._id %>" data-action="revert-voting" type="button" class="pure-button">Anuluj głosowanie</button>
            </div>
            <div class="right" data-id="buttons-available" style="display: block">
                <button data-voting="<%= session.votings[i]._id %>" data-action="prepare-voting" type="button" class="pure-button button-primary">Przygotuj głosowanie</button>
            </div>
        </article>
        <% } %>
        <h3 id="finished-votings">Głosowania zakończone</h3>
    </section>
</div>
<!--POPUP GŁOSOWANIA-->
<div id="popup-manage-voting" class="overlay">
    <section class="popup">
        <h3>Głosowanie</h3>
        <h4>
        </h4>
        <div class="pure-form">
            <button data-action="unlock-remotes" type="button" class="pure-button button-primary">Odblokuj piloty</button>
        </div>
        <p>
            <span class="green">Głosowanie w trakcie.</span>
            Zebrano <span data-id="votes-counter">30</span> spośród <span data-id="votes-all">52</span> głosów.
        </p>
        <div class="pure-form">
            <button data-action="cancel-voting" type="button" class="pure-button">Anuluj głosowanie</button>
            <button data-action="next-subvariant" type="button" class="pure-button">Następne pytanie</button>
            <button data-action="close-manage-voting" type="button" class="pure-button button-primary">Zakończ głosowanie</button>
        </div>
    </section>
</div>
<% include footer.ejs %>
<script type="text/javascript" src="/lib/node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/lib/node_modules/socket.io-client/socket.io.js"></script>
<script>
    $(document).ready(function () {

        var socket = io.connect('http://localhost:8081');
        socket.on('connect', function () {
            console.log('Połączono kokpit z serwerem :D');
        });
        socket.on('session error', function (data) {
            alert(data.message);
        });
        socket.on('votes updated', function (data) {
            updateVotesCounter(data.voted, data.all);
        });

        /* SEARCH ENGINE */
        var search = $('#voter-search').first();
        var list = $('#presence-list').first();

        search.on('input', searchFor);

        function searchFor() {
            var inputString = search.val();
            list.children().each(function () {
                var name = $(this).find('label').first().html();
                var result = name.toLowerCase().indexOf(inputString);
                if (result != -1) {
                    console.log(result);
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }

        /* VOTING COCKPIT */
        var popup = $('#popup-manage-voting');
        var article;

        $('[data-action="prepare-voting"]').on('click', function () {
            popup.addClass('active');
            article = $(this).parent().parent();
            var question = article.find("h4").first().html();
            popup.find('h4').html(question);
            console.log("Emitting prepare voting event...");
            socket.emit('prepare voting', {votingID: $(this).attr('data-voting')});
        });

        $('[data-action="revert-voting"]').on('click', function () {
            article = $(this).parent().parent();
            revertVotingBoxFromFinished();
            console.log("Emitting revert voting event...");
            socket.emit('revert voting', {votingID: $(this).attr('data-voting')});
        });

        $('[data-action="unlock-remotes"]').on('click', function () {
            console.log("Emitting start voting event...");
            socket.emit('start voting');
        });

        $('[data-action="cancel-voting"]').on('click', function () {
            popup.removeClass('active');
            console.log("Emitting revert voting event...");
            socket.emit('revert voting');
        });

        $('[data-action="next-subvariant"]').on('click', function () {
            console.log("Emitting next subquestion event...");
            socket.emit('next subquestion');
        });

        $('[data-action="close-manage-voting"]').on('click', function () {
            popup.removeClass('active');
            changeVotingBoxToFinished();
            console.log("Emitting end voting event...");
            socket.emit('end voting');
        });

        $('[name="present"]').on('change', function () {
            if ($(this).is(':checked')) {
                console.log("Emitting set presence event...");
                socket.emit('set presence', {voterID: $(this).attr('data-voter'), isPresent: true});
            }
        });

        function updateVotesCounter(voted, all) {
            var current = $('.current-variant');
            current.find('[data-id="votes-counter"]').first().html(voted);
            current.find('[data-id="votes-all"]').first().html(all);
        }

        function changeVotingBoxToFinished() {
            $('#finished-votings').after(article);
            article.find('[data-id="buttons-finished"]').show();
            article.find('[data-id="buttons-corner"]').hide();
            article.find('[data-id="buttons-available"]').hide();
        }

        function revertVotingBoxFromFinished() {
            $('#available-votings').after(article);
            article.find('[data-id="buttons-finished"]').hide();
            article.find('[data-id="buttons-corner"]').show();
            article.find('[data-id="buttons-available"]').show();
        }
    });
</script>
</body>
</html>