<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/mchtr-styler.css">
</head>
<body>
<% include header.ejs %>
<section>
    <h3><%= title %></h3>
    <div>
        <table class="pure-table dantooine-table even-layout">
            <thead>
            <tr>
                <th>Data</th>
                <th>Tryb</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><%= moment(session.date).format("LL") + ' (' + moment(session.date).fromNow() + ')' %></td>
                <td>Nadzwyczajna</td>
                <td>Nierozpoczęta</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="action-bar">
        <a href="<%= '/session/'+session.id+'/presence' %>" class="pure-button">Generuj listę obecności<img src="/images/icon_pdf.gif" class="filetype"/></a>
        <button type="button" class="pure-button">Generuj raport<img src="/images/icon_pdf.gif" class="filetype"/></button>
        <button type="button" id="button-add-counter" class="pure-button">Dodaj skrutatora</button>
        <button type="button" id="button-add-question" class="pure-button">Dodaj głosowanie</button>
        <a href="<%= '/session/'+session.id+'/cockpit' %>" class="pure-button button-primary">Rozpocznij sesję</a>
    </div>
</section>
<section>
    <h3>Głosowania</h3>
    <ol class="voting-list">
        <% for (var i=0; i<session.votings.length; i++) { %>
        <li>
            <p><%= session.votings[i].question %></p>
            <ol>
                <% for (var j=0; j < session.votings[i].variants.length; j++) { %>
                <li><%= session.votings[i].variants[j].content %></li>
                <% } %>
            </ol>
        </li>
        <% } %>
    </ol>
</section>
<section>
    <h3>Komisja Skrutacyjna</h3>
    <div>
        <table class="pure-table pure-table-horizontal dantooine-table">
            <thead>
            <tr>
                <th>#</th>
                <th>Imię i nazwisko</th>
                <th>Funkcja</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% for (var i = 0; i < session.supervisors.length; i++) { %>
            <tr data-id="<%= session.supervisors[i].id %>">
                <td><%= i + 1 %></td>
                <th><%= session.supervisors[i].name + ' ' + session.supervisors[i].surname %></th>
                <td><%= session.supervisors[i].role %></td>
                <td class="cell-action">
                    <button type="button" data-url="/session/<%= session.id %>/supervisor/<%= session.supervisors[i].id %>" data-method="delete"
                            class="pure-button button-delete button-red">Usuń
                    </button>
                </td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</section>
<div id="popup-add-question" class="overlay">
    <section class="popup">
        <h3>Dodaj głosowanie</h3>
        <form class="pure-form" method="post" action="/voting">
            <%- hidden_field_tag('session_id', session.id) %>

            <fieldset class="pure-group">
                <input type="text" name="question" class="pure-input-1" placeholder="Pytanie">
            </fieldset>

            <fieldset>
                <legend>Odpowiedzi</legend>
                <input id="radio-yes-no" name="variants_type" type="radio" value="1" checked>
                <label for="radio-yes-no" class="pure-radio">
                    Tak/Nie
                </label>

                <input id="radio-multiple-yes-no" name="variants_type" type="radio" value="2">
                <label for="radio-multiple-yes-no" class="pure-radio">
                    Wielokrotnego wyboru
                </label>

                <div id="div-variants" style="display: none; clear: both">
                    <span class="tip">Wskazówka: po rozpoczęciu wpisywania pojawi się kolejne pole</span>
                    <div class="pure-group">
                        <input type="text" name="variants" class="pure-input-1" placeholder="Odpowiedź">
                    </div>
                </div>
            </fieldset>

            <fieldset class="pure-control-group">
                <legend>Głosujący</legend>
                <div class="pure-u-1-2" style="float: left">
                    <input id="radio-voters-all" name="allowed_to_vote" type="radio" value="4" checked>
                    <label for="radio-voters-all" class="pure-radio">
                        Wszyscy
                    </label>

                    <input id="radio-voters-privileged" name="allowed_to_vote" type="radio" value="2">
                    <label for="radio-voters-privileged" class="pure-radio">
                        Tylko pracownicy samodzielni
                    </label>
                </div>
                <div class="pure-u-1-2" style="float: left">
                    <input id="check-quorum" name="quorum" type="checkbox">
                    <label for="check-quorum" class="pure-checkbox">
                        Kworum
                    </label>

                    <input id="check-absolute-majority" name="absolute" type="checkbox">
                    <label for="check-absolute-majority" class="pure-checkbox">
                        Większość bezwzględna
                    </label>
                </div>
                <div class="pure-u-1">
                    <input id="check-additional-voters" name="additional_voters" type="checkbox">
                    <label for="check-additional-voters" class="pure-checkbox">
                        Dodatkowi głosujący
                    </label>
                    <div id="div-extra-voters"  style="display: none; clear: both">
                        <span class="tip">Wskazówka: po rozpoczęciu wpisywania pojawi się kolejne pole</span>
                        <div class="pure-u-1 extra-voter">
                            <input type="text" name="additional_voters_title" class="pure-input-1-5" list="science-titles" placeholder="Tytuł">
                            <datalist id="science-titles">
                                <option>Prof. dr hab. inż.</option>
                                <option>Prof. dr hab.</option>
                                <option>Prof. nzw. dr hab. inż.</option>
                                <option>Prof. nzw. dr hab.</option>
                                <option>Dr hab. inż</option>
                                <option>Dr hab.</option>
                                <option>Dr inż.</option>
                                <option>Dr</option>
                            </datalist>
                            <input type="text" name="additional_voters_name" class="pure-input-2-5" placeholder="Imię">
                            <input type="text" name="additional_voters_surname" class="pure-input-2-5" placeholder="Nazwisko">
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="action-bar">
                <button type="button" id="button-cancel-add-question" class="pure-button">Anuluj</button>
                <button type="reset" class="pure-button">Wyczyść</button>
                <button type="submit" class="pure-button button-primary">Dodaj</button>
            </div>
        </form>
    </section>
</div>
<div id="popup-add-counter" class="overlay">
    <section class="popup">
        <h3>Dodaj członka Komisji Skrutacyjnej</h3>
        <form class="pure-form" method="post" action="/session/<%= session.id %>/counter">
            <fieldset class="pure-group">
                <input type="text" name="name" class="pure-input-1" placeholder="Imię">
                <input type="text" name="surname" class="pure-input-1" placeholder="Nazwisko">
            </fieldset>

            <fieldset class="pure-group">
                <select name="role" class="pure-input-1">
                    <option>Przewodniczący</option>
                    <option>Sekretarz</option>
                </select>
            </fieldset>

            <div class="action-bar">
                <button type="button" id="button-cancel-add-counter" class="pure-button">Anuluj</button>
                <button type="submit" class="pure-button button-primary">Dodaj</button>
            </div>
        </form>
    </section>
</div>
<% include footer.ejs %>
<script type="text/javascript" src="/lib/node_modules/jquery/dist/jquery.min.js"></script>
<script>
    $('#button-add-question').on('click', function(){
        $('#popup-add-question').addClass('active');
    });

    $('#button-cancel-add-question').on('click', function(){
        $('#popup-add-question').removeClass('active');
    });

    $('#button-add-counter').on('click', function () {
        $('#popup-add-counter').addClass('active');
    });


    $('#button-cancel-add-counter').on('click', function(){
        $('#popup-add-counter').removeClass('active');
    });

    var div_variants = $('#div-variants');
    var div_variants_inputs = div_variants.children('div').last();
    var div_voters = $('#div-extra-voters');
    var div_voters_inputs = $('.extra-voter').first();

    div_variants.children('.pure-group').children().last().one('input', addVariantInput);

    $('form input:radio[name=variants_type]').on('change', function () {
        if ($(this).val() == "2" && this.checked) {
            div_variants.show();
        } else {
            div_variants.hide();
        }
    });

    $('#check-absolute-majority').on('change', function () {
        var checkbox = $('#check-quorum');
        if (this.checked) {
            checkbox.prop('checked', true);
        }
        else {
            checkbox.prop('checked', false);
        }
    });

    $('button.button-delete').on('click', function (e) {
        $.ajax({type:'delete', url:$(this).attr('data-url')});
        location.reload();
    });

    $('#check-additional-voters').on('change', function () {
        console.log("Votersi!");
        if (this.checked) {
            div_voters.show();
        } else {
            div_voters.hide();
        }
    });

    div_voters_inputs.one('input', addVotersInputs);

    function addVariantInput() {
        $('<input type="text" name="variants" class="pure-input-1" placeholder="Odpowiedź">').appendTo(div_variants_inputs).one('input', addVariantInput);
    }

    function addVotersInputs() {
        div_voters_inputs.clone().appendTo(div_voters).one('input', addVotersInputs).children().each(function () {
            $(this).val('');
        });
    }
</script>
</body>
</html>