<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<% include header.ejs %>
<section>
    <h3><%= title %></h3>
    <div>
        <table class="pure-table dantooine-table even-layout">
            <thead>
            <tr>
                <th>Data</th>
                <th>Tryb</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><%= moment(session.date).format("LL") + ' (' + moment(session.date).fromNow() + ')' %></td>
                <td>Nadzwyczajna</td>
                <td>Nierozpoczęta</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="action-bar">
        <a href="<%= '/session/' + session.id + '/presence' %>" target="_blank" class="pure-button">Generuj listę
            obecności<img src="/images/icon_pdf.gif" class="filetype"/></a>
        <button type="button" class="pure-button">Generuj raport<img src="/images/icon_pdf.gif" class="filetype"/></button>
        <button type="button" id="button-add-counter" class="pure-button">Dodaj skrutatora</button>
        <button type="button" id="button-add-question" class="pure-button">Dodaj głosowanie</button>
        <a class="pure-button button-primary">Rozpocznij sesję</a>
    </div>
</section>
<section>
    <h3>Głosowania</h3>
    <ol class="voting-list">
        <% for (var i=0; i<session.votings.length; i++) { %>
        <li>
            <p><%= session.votings[i].question %></p>
            <ol>
                <% for (var j=0; j < session.votings[i].variants.length; j++) { %>
                <li><%= session.votings[i].variants[j].content %></li>
                <% } %>
            </ol>
        </li>
        <% } %>
    </ol>
</section>
<section>
    <h3>Komisja Skrutacyjna</h3>
    <ol class="voting-list">
    </ol>
</section>
<div id="popup-add-question" class="overlay">
    <section class="popup">
        <h3>Dodaj głosowanie</h3>
        <form class="pure-form" method="post" action="/voting">
            <%- hidden_field_tag('session_id', session.id) %>

            <fieldset class="pure-group">
                <input type="text" name="question" class="pure-input-1" placeholder="Pytanie">
            </fieldset>

            <fieldset>
                <legend>Odpowiedzi</legend>
                <input id="radio-yes-no" name="variants_type" type="radio" value="1" checked>
                <label for="radio-yes-no" class="pure-radio">
                    Tak/Nie
                </label>

                <input id="radio-multiple-yes-no" name="variants_type" type="radio" value="2">
                <label for="radio-multiple-yes-no" class="pure-radio">
                    Wielokrotnego wyboru
                </label>

                <div id="div-variants" class="pure-group" style="display: none; clear: both">
                    <input type="text" name="variants" class="pure-input-1" placeholder="Odpowiedź">
                </div>
                <span class="tip">Wskazówka: po rozpoczęciu wpisywania pojawi się kolejne pole</span>
            </fieldset>

            <fieldset class="pure-control-group">
                <legend>Głosujący</legend>
                <div class="pure-u-1-2" style="float: left">
                    <input id="radio-voters-all" name="allowed_to_vote" type="radio" value="4" checked>
                    <label for="radio-voters-all" class="pure-radio">
                        Wszyscy
                    </label>

                    <input id="radio-voters-privileged" name="allowed_to_vote" type="radio" value="2">
                    <label for="radio-voters-privileged" class="pure-radio">
                        Tylko pracownicy samodzielni
                    </label>
                </div>
                <div class="pure-u-1-2" style="float: left">
                    <input id="check-quorum" name="quorum" type="checkbox">
                    <label for="check-quorum" class="pure-checkbox">
                        Kworum
                    </label>

                    <input id="check-absolute-majority" name="absolute" type="checkbox">
                    <label for="check-absolute-majority" class="pure-checkbox">
                        Większość bezwzględna
                    </label>
                </div>
            </fieldset>

            <div class="action-bar">
                <button type="button" id="button-cancel-add-question" class="pure-button">Anuluj</button>
                <button type="reset" class="pure-button">Wyczyść</button>
                <button type="submit" class="pure-button button-primary">Dodaj</button>
            </div>
        </form>
    </section>
</div>
<div id="popup-add-counter" class="overlay">
    <section class="popup">
        <h3>Dodaj członka Komisji Skrutacyjnej</h3>
        <form class="pure-form" method="post" action="/sessions/counter">
            <fieldset class="pure-group">
                <input type="text" name="title" class="pure-input-1" placeholder="Tytuł">
                <input type="text" name="name" class="pure-input-1" placeholder="Imię">
                <input type="text" name="surname" class="pure-input-1" placeholder="Nazwisko">
            </fieldset>

            <div class="action-bar">
                <button type="button" id="button-cancel-add-counter" class="pure-button">Anuluj</button>
                <button type="submit" class="pure-button button-primary">Dodaj</button>
            </div>
        </form>
    </section>
</div>
<% include footer.ejs %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    $('#button-add-question').on('click', function(){
        $('#popup-add-question').addClass('active');
    });

    $('#button-cancel-add-question').on('click', function(){
        $('#popup-add-question').removeClass('active');
    });

    $('#button-add-counter').on('click', function () {
        $('#popup-add-counter').addClass('active');
    });


    $('#button-cancel-add-counter').on('click', function(){
        $('#popup-add-counter').removeClass('active');
    });

    var div = $('#div-variants');

    function addFormInput() {
        $('<input type="text" name="variants" class="pure-input-1" placeholder="Odpowiedź">').appendTo(div).one('input', addFormInput).on('focusout', function () {
            if (this.val() == '') {
                this.remove();
            }
        });
    }

    div.children().last().one('input', addFormInput);

    $('form input:radio[name=variants_type]').on('change', function () {
        if ($(this).val() == "2" && this.checked) {
            div.show();
        } else {
            div.hide();
        }
    });

    $('#check-absolute-majority').on('change', function () {
        var checkbox = $('#check-quorum');
        if (this.checked) {
            checkbox.prop('checked', true).prop('disabled', true);
        }
        else {
            checkbox.prop('checked', false).prop('disabled', false);
        }
    })


</script>
</body>
</html>