<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/pure-min.css">
    <link rel="stylesheet" href="/lib/node_modules/pikaday/css/pikaday.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/mchtr-pikaday-styler.css">
    <link rel="stylesheet" href="/stylesheets/mchtr-styler.css">
</head>
<body>
<% include header.ejs %>
<section>
    <div class="action-bar">
        <button id="button-new-session" class="pure-button button-primary">Nowa sesja</button>
    </div>
    <div>
        <table class="pure-table pure-table-horizontal dantooine-table clickable-rows even-layout">
            <thead>
            <tr>
                <th>Data</th>
                <th>ID</th>
                <th>Głosowania</th>
                <th>Obecnych</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <% for (var i=0; i<sessions.length; i++) { %>
            <tr onclick="window.document.location='/session/<%= sessions[i].id %>';">
                <td><%= moment(sessions[i].date).format("ll") + ' (' + moment(sessions[i].date).fromNow() + ')' %></td>
                <th><%= sessions[i].name %></th>
                <td><%= sessions[i].votings.length %></td>
                <td><%= sessions[i].presence.length %></td>
                <td>Nierozpoczęta</td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</section>
<div id="popup-new-session" class="overlay">
    <section class="popup">
        <h3>Nowa sesja</h3>
        <form class="pure-form" method="post" action="/sessions">
            <fieldset class="pure-group">
                <input type="text" name="name" class="pure-input-1" placeholder="Identyfikator">
                <input type="text" name="date" class="pure-input-1" id="datepicker" placeholder="Data">
                <textarea name="description" class="pure-input-1" placeholder="Opis"></textarea>
            </fieldset>

            <input id="mode-standard" type="radio" name="type" value="standard" checked>
            <label for="mode-standard" class="pure-radio">
                Standardowa
            </label>

            <input id="mode-special" type="radio" name="type" value="special">
            <label for="mode-special" class="pure-radio">
                Nadzwyczajna
            </label>

            <div class="action-bar">
                <button type="button" id="button-cancel-new-session" class="pure-button">Anuluj</button>
                <button type="submit" class="pure-button button-primary">Dodaj</button>
            </div>
        </form>
    </section>
</div>
<% include footer.ejs %>
<script src="lib/node_modules/jquery/dist/jquery.min.js"></script>
<script src="lib/node_modules/pikaday/node_modules/moment/moment.js"></script>
<script src="lib/node_modules/pikaday/pikaday.js"></script>
<script>
    $('#button-new-session').on('click', function(e){
        $('#popup-new-session').addClass('active');
    });

    $('#button-cancel-new-session').on('click', function(e){
        $('#popup-new-session').removeClass('active');
    });

    $(document).ready(function() {

        var picker = new Pikaday({
            field: document.getElementById('datepicker'),
            format: 'DD.MM.YYYY',
            firstDay: 1,
            i18n: {
                previousMonth : 'poprzedni miesiąc',
                nextMonth     : 'następny miesiąc',
                months        : 'styczeń_luty_marzec_kwiecień_maj_czerwiec_lipiec_sierpień_wrzesień_październik_listopad_grudzień'.split('_'),
                weekdays      : 'niedziela_poniedziałek_wtorek_środa_czwartek_piątek_sobota'.split('_'),
                weekdaysShort : 'nd_pon_wt_śr_czw_pt_sb'.split('_')
            }
        });

    });
</script>
</body>
</html>
