<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="pl">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<% include header.ejs %>
<section>
    <div>
        <table class="pure-table pure-table-horizontal council-table">
            <caption>Pracownicy samodzielni</caption>
            <thead>
            <tr>
                <th>#</th>
                <th>Nazwisko</th>
                <th>Tytuł naukowy</th>
                <th>Instytut</th>
                <th>Dziedzina</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% for (var i=0; i<voters.length; i++) { %>
            <tr>
                <td><%= i+1 %></td>
                <th><%= voters[i].surname + ', ' + voters[i].name %></th>
                <td><%= voters[i].title %></td>
                <td><%= voters[i].faculty %></td>
                <td><%= voters[i].area_of_interests %></td>
                <td class="cell-action"><button class="pure-button button-yellow">Edytuj</button><button class="pure-button button-red">Usuń</button></td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
    <div class="action-bar">
        <a id="button-add-member" class="pure-button button-primary">Dodaj</a>
    </div>
</section>
<div id="popup1" class="overlay">
    <section class="popup">
        <h3>Dodaj członka Rady</h3>
        <form class="pure-form" method="post" action="/voters">
            <fieldset class="pure-group">
                <input type="text" name="name" class="pure-input-1" placeholder="Imię">
                <input type="text" name="surname" class="pure-input-1" placeholder="Nazwisko">
            </fieldset>

            <fieldset class="pure-group">
                <input type="text" name="title" class="pure-input-1" placeholder="Tytuł naukowy" list="science-titles">
                <datalist id="science-titles">
                    <option>Prof. dr hab. inż.</option>
                    <option>Prof. dr hab.</option>
                    <option>Prof. nzw. dr hab. inż.</option>
                    <option>Prof. nzw. dr hab.</option>
                    <option>Dr hab. inż</option>
                    <option>Dr hab.</option>
                    <option>Dr inż.</option>
                    <option>Dr</option>
                </datalist>
                <input type="text" name="institute" class="pure-input-1" placeholder="Instytut" list="institutes">
                <datalist id="institutes">
                    <option>Instytut Automatyki i Robotyki</option>
                    <option>Instytut Mikromechaniki i Fotoniki</option>
                    <option>Instytut Metrologii i Inżynierii Biomedycznej</option>
                </datalist>
                <input type="text" name="specialty" class="pure-input-1" placeholder="Specjalność">
            </fieldset>

            <label for="privileges" class="pure-checkbox">
                <input id="privileges" name="privileges" type="checkbox" value="1" checked>
                Pełne uprawnienia
            </label>

            <div class="action-bar">
                <button type="button" id="button-cancel-add-member" class="pure-button">Anuluj</button>
                <button type="reset" class="pure-button">Wyczyść</button>
                <button type="submit" class="pure-button button-primary">Dodaj</button>
            </div>
        </form>
    </section>
</div>
<div id="popup2" class="overlay">
    <section class="popup">
        <p>Usunąć członka rady?</p>
        <div class="action-bar">
            <a class="pure-button" href="#">Anuluj</a>
            <a type="submit" class="pure-button button-red">Usuń</a>
        </div>
    </section>
</div>
<script src="http://zeptojs.com/zepto.min.js"></script>
<script>
    $('#button-add-member').on('click', function(e){
        $('#popup1').addClass('active');
    });

    $('#button-cancel-add-member').on('click', function(e){
        $('#popup1').removeClass('active');
    });
</script>
<% include footer.ejs %>
</body>
</html>
