<html>
<head>
    <link rel="stylesheet" href="../../../public/stylesheets/mchtr-styler.css">
</head>
<body>
<h1>Posiedzenie Rady Wydziału</h1>
<h2>Sesja</h2>
<table class="pure-table pure-table-horizontal dantooine-table">
    <caption>Pracownicy samodzielni</caption>
    <thead>
    <tr>
        <th>#</th>
        <th>Nazwisko</th>
        <th>Tytuł naukowy</th>
        <th>Instytut</th>
        <th>Dziedzina</th>
        <th>Podpis</th>
    </tr>
    </thead>
    <tbody>
    <% for (var i=0; i<voters.length; i++) { %>
    <tr>
        <td><%= i+1 %></td>
        <th><%= voters[i].surname + ', ' + voters[i].name %></th>
        <td><%= voters[i].title %></td>
        <td><%= voters[i].faculty %></td>
        <td><%= voters[i].area_of_interests %></td>
        <td></td>
    </tr>
    <% } %>
    </tbody>
</table>
</body>
</html>